= content_for :title, "Login"

#intro.view.hm-black-slight.h-100
  .container-fluid.full-bg-img.d-flex.align-items-center.justify-content-center.h-100
    .row.d-flex.w-100
      .col-lg-6.d-flex.align-items-center.justify-content-end
        .col-sm-6
          = image_tag("maintenanceWorks.png", class: "img-fluid")
      .col-lg-6.d-flex.align-items-center.justify-content-start
        .col-lg-5
          %h2.white-text.text-center Login
          = form_for(:session, action: "create") do |f|
            .md-form.my-5
              %i.fa.fa-user-o.prefix.white-text
              = f.text_field :username, class: "text-white"
              %small.mx-5.white-text Username
            .md-form.my-5
              %i.fa.fa-lock.prefix.white-text
              = f.password_field :password, class: "text-white"
              %small.mx-5.white-text Password
            .text-center
              = f.submit "Log In", class: "btn btn-default"
          .my-3.text-center
            = link_to "Don't have an account?", register_path
