.container.d-flex.justify-content-center
  .col-xl-8.content-card
    .row.text-center.mt-5
      .col-12
        %h1 New Maintenance Request

    .row.d-flex.justify-content-center
      .col-8
        = form_for @request do |f|

          %h3.text-center.my-5 Device Information
          .form-group
            = f.label :equipment_type, class: "small"
            = f.collection_select :equipment_type, EquipmentType::TYPES, :to_s,
              :to_s, {include_blank: true}, {class: "custom-dropdown form-control"}

          .md-form.my-5
            = f.text_field :manufacturer
            = f.label :manufacturer

          .md-form.my-5
            = f.text_field :model
            = f.label :model

          .md-form.my-5
            = f.text_field :serial_number
            = f.label :serial_number

          %h3.text-center.my-5 Problem Information
          .form-group
            = f.label :problem_type, class: "small"
            = f.collection_select :problem_type, ProblemType::TYPES, :to_s,
              :titleize, {include_blank: true}, {class: "custom-dropdown form-control"}

          .md-form.my-5
            = f.text_area :note_content, class: "md-textarea"
            = label :note_content, "Write note here..."

          .my-3.text-center
            = f.submit "Submit", class: "btn custom-purple-light"
