= content_for :title, "Sign Up"

#intro.view.hm-black-slight
  .container-fluid.full-bg-img.pt-5.mt-5
    .row.text-center
      .col-12
        %h2.white-text New Maintenance Request

    .row.d-flex.justify-content-center
      .col-6
        = form_for @request do |f|
          .md-form.my-5
            = f.text_field :device_id, class: "white-text"
            = f.label :device_id, "Device Unique ID", class: "text-white"

          .my-5
            %h6.text-white
              Is the item repairable?
            .radio-button-group.d-flex.justify-content-start
              .d-flex.mr-5
                .mr-2
                  = f.radio_button :repairable, true, class: "md-radio", checked: true
                  = f.label :repairable, "Yes", value: "true", class: "text-white"
              .d-flex.mr-5
                .mr-2
                  = f.radio_button :repairable, false, class: "md-radio"
                  = f.label :repairable, "No", value: "false", class: "text-white"

          = f.fields_for :notes do |note_form|
            .md-form.my-5
              = note_form.text_area :content, class: "md-textarea text-white"
              = label :content, "Note", class: "text-white"

          .my-3.text-center
            = f.submit "Submit", class: "btn btn-default"
