.container.d-flex.justify-content-center
  .col-xl-8.content-card.pb-5
    - if @request.open?
      .status-buttons.mt-2.d-flex.justify-content-end
        = link_to "Abandoned", abandoned_request_path(@request), class: "btn btn-danger"
        = link_to "Repaired", repaired_request_path(@request), class: "btn custom-purple-light"

    .row.text-center.mt-5
      .col-12
        %h1 Maintenance Request #{@request.id}
        %b.mr-2 Status:
        #{@request.status.titleize}

    .row.justify-content-center
      .col-10
        %h3.my-5 Device Information
        .mx-4
          %p
            %b.mr-2 Equipment Type:
            #{@request.device.equipment_type}

          %p
            %b.mr-2 Manufacturer:
            #{@request.device.manufacturer}

          %p
            %b.mr-2 Model:
            #{@request.device.model}

          %p
            %b.mr-2 Serial Number:
            #{@request.device.serial_number}

    .row.justify-content-center
      .col-10
        %h3.my-5 Problem Information
        .mx-4
          %p
            %b.mr-2 Problem Type:
            #{@request.problem_type.titleize}

          %p
            %b.mr-2 Submitted On:
            #{@request.created_at.strftime('%B %e, %Y')}


    = render partial: "note_modal", locals: { note: @note }

    .row.justify-content-center
      .col-10
        .mt-5.mb-3.d-flex.justify-content-between
          %h3
            Notes
            %small (#{@request.notes.count})
          = link_to "Add", "", class: "btn custom-purple-light", "data-toggle" => "modal", "data-target" => "#modalNoteForm"
        .note.mx-4.mb-2
          - @request.notes.each do |note|
            %b #{note.user.username}:
            %p.ml-4 #{note.content}
