!!!
%html
  %head
    %title MaintenanceWorks
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"

  %body
    %nav.navbar.navbar-dark.fixed-top.custom-purple.justify-content-between
      .logo
        - if logged_in?
          = link_to "MaintenanceWorks", dashboard_path, class: "navbar-brand"
        - else
          = link_to "MaintenanceWorks", login_path, class: "navbar-brand"
      .navbar-nav
        - if logged_in?
          = link_to "Logout", logout_path, class: "nav-item nav-link"

    -if flash.notice.present?
      #info-message.w-100
        .container.h-100
          .row.d-flex.justify-content-center.h-100
            .col-xl-8.col-lg-8.white-text.stylish-color.text-center
              %p.pt-3
                = flash.notice

    = yield
